*{
    margin: 0;
    font-size: 16px;
}

body{
    background-color: gray;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.425);
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

img.html{
    width: 100px;
    float: right;
}

img.js{
    width: 200px;
    float: right;
}